.blur-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  // backdrop-filter: blur(1px); /* Размытие фона */
  z-index: 1000; /* Убедитесь, что слой выше всех остальных элементов */
}
